.galeria
{
    padding: $separacion 0;
    h3
    {
        text-align: center;
    }


}

// todos las listas traen un padding y una decoracion y a veces hay que elimnarlo
.galeria-imagenes
{
    padding: 0;
    list-style: none;
    @include grid(2, $separacion);
    margin-top: $separacion;

    @include tablet
    {
        @include grid(4, $separacion/2);
    }
    @include desktop
    {
        @include grid(6, $separacion/2);
    }
}